body {
    position: relative;
    color: #222;
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 110px;
}

.image-form {
    position: relative;
    top: 20px;
    height: 46px;
    width: 100%;
}



.searchform{
    position: absolute;
    top: 0;
    left: 150px;
}

#logo{
    margin-left: 10px;
}


input[type=text] {
    width: 632px;
    height: 46px;
    box-sizing: border-box;
}

form {
    position: relative;
}

form .mic {
    position: absolute;
    top: 7;
    right:60px;
}

form .search{
    position: absolute;
    top: 8;
    right: 15px;
}

.right-nav{
    position: absolute;
    top: 10px;
    right: 30;
    
}

.image-form ul {
    list-style-type: none;
}

.image-form ul li{
    display: block;
    float: left;
    margin-left: 10px;
}


.header .button {
    border-radius: 2px;
    background: #4683ea;
    color: white;
    border: 1px solid #4683ea;
    font-size: .8em;
    padding: 8px 12px;
    font-weight: bold;
    margin-left: 8px;
}

.top-nav {
    position: absolute;
    bottom: 0;
    height: 42px;
    width: 100%;

    background: #fafafa;
    color: #666;
    font-size: 16px;
    border-bottom: 1px solid #ebebeb;
   
}

#active{
    border-bottom: 3px solid #4285f4;
   
}

#active a {
    font-weight: bold;
    color: #4285f4;
}

.inner-nav{
    position: absolute;
    left: 150px;
    bottom: 0px;
   
    width: 632px;
}

.inner-nav ul{
    list-style-type: none;
}

.inner-nav ul li {
    display: block;
    float: left;
    padding-bottom: 10px;
}

.inner-nav ul li a{
    color: #222;
    margin: 8px 20px 0px 0;
}

a:active{
    border-bottom: 3px solid #1A73E8;
    color: #1A73E8;
    font-weight: bold;
}

a{
    text-decoration: none;
}

.right{
    float: right;
}

.left{
    float: left;
}

.main{
    position: absolute;
    width: 643px;
    left: 150px;
    top: 160px;
    height: 490px;
    
    font-size: 18px;
    
}

.main ul, .med-font{
    margin-bottom: 32px;
}
#resultStat {
    line-height: 40px;
    color: #808080;
    position: absolute;
    top: 110px;
    height: 30px;
    left: 150px;
    font-size: 13px;
}

.advert
{
    display: inline-block;
    margin-bottom: 9px;
}

.main ul .advert-wrapper{
    margin-top: 5px;
}

.Ad-txt {
    margin-right: 5px;
    color: #006621;
    font-size: 11px;
    border: 1px solid #006621;
    padding: 1px 3px 1px 2px;
    border-radius: 3px;
}

.cite-link {
    color: #006621;
}

.main p {
    font-size: 14px;
    line-height: 20px;
}

.main .block {
    margin-top: 10px;
}

.main .block li{
    display: inline-block;
    margin-left: 28px;
    margin-right: 230px;
    width: 50px;
}

.main ul .listItem{
    margin-top: 2px;
    font-size: 13px;
    line-height: 18px;
}
.main ul .listItem li{
    display: inline;
    margin-right: 8px;
}

.med-content {
    width: 648px;
    background-color: #ffffff;
    
   /* padding: 0 16px; */
   box-shadow: 0 4px 2px 0 #00000029, 0 0 0 1px rgba(0,0,0,0.08);
   border: none;
   border-radius: 2px;
}



.bigger {
    font-weight: bold;
    color: #6a6a6a;
}

#starter{
    display: block;
}

#starter a{
    font-size: 14px;
}

#starter p{
    display: inline;
}

#starter p a{
    color: #545454;
    line-height: 18px;
}

.med-heading {
    margin-bottom: 15px;
}


.med-content .med-top{
    padding: 16px 16px 0 16px;
    font-size: 16px;
    text-align: left;
}

.med-top .med-list{
    padding: 0 20px;
    list-style-type: decimal;
    line-height: 1.2;
    margin-bottom: 20px;
}

.med-top .med-list li{
    margin-bottom: 5px;
}

.med-top .med-list #more{
    margin-top: 15px;
}

.med-top .med-list #more a {
    color: #777;
    font-size: 14px;
}

.about-results span{
    float: right;
    margin-right: 20px;
    }
    
.about-results{
        padding: 4px 16px 0px 8px;
        margin-left: -16px;
        margin-right: -16px;
        font-size: 13px;
        line-height: normal;
        margin-bottom: 36px;
        margin-top: -32px;
        
    }

.about-results a{
    color: #777;
    
}

.pAsked {
    color: #808080;
    font-size: 20px;
    font-weight: normal;
    padding: 15px 16px 10px;
}

.med-content .med-inner{
    outline: none;
    padding-right: 40px;
    padding-left: 16px;
    border-top: 1px solid #e5e5e5;
    cursor: pointer;
    font-size: 18px;
    padding-bottom: 5px;
    padding-top: 5px;
}


